.approach14,
.industries11,
.my-account10,
.team11 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
}
.approach14,
.industries11,
.team11 {
  cursor: pointer;
}
.my-account10 {
  text-align: right;
  white-space: nowrap;
}
.frame-instance {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-industries-services {
  width: 403px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-career-icon {
  height: 46.4px;
  width: 200px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.about-us10 {
  white-space: nowrap;
}
.about-us10,
.blogs10,
.contact-us10,
.services21 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
  cursor: pointer;
}
.contact-us10 {
  text-align: right;
  white-space: nowrap;
}
.about-us-parent8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-industries-services1 {
  width: 379px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-industries-services-parent {
  align-self: stretch;
  background-color: var(--color2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: 0 94px;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--paragraph-1-size);
  color: var(--text);
  font-family: var(--paragraph-2);
}
.rectangle-interest-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0.4px;
  right: 0;
  bottom: -0.4px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.interested-in-joining {
  margin: 0;
  width: 771px;
  font-size: inherit;
  line-height: 91px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.interested-in-joining,
.our-team-of1,
.text-interested {
  position: relative;
  max-width: 100%;
}
.our-team-of1 {
  width: 771px;
  font-size: var(--paragraph-1-size);
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
  font-family: var(--paragraph-2);
  display: inline-block;
  z-index: 1;
}
.text-interested {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-75xl) var(--padding-xl) var(--padding-77xl);
  box-sizing: border-box;
  gap: 24px 0;
}
.current-opportunities {
  margin: 0;
  width: 770px;
  position: relative;
  font-size: inherit;
  line-height: 62px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.text-british-columbia {
  width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.british-columbia14 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 42px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
}
.career-1-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.senior-staff-accountant {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
}
.inflation {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 16px;
}
.career-1-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.truck-driver {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
}
.possibility,
.reach-your-first {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 16px;
}
.possibility {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px 0;
  font-size: var(--paragraph-1-size);
  font-family: var(--paragraph-2);
}
.commence-saving-and-investing {
  gap: 24px 0;
}
.commence-saving-and-investing,
.frame-hallifax {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.apply-now {
  position: relative;
  font-size: var(--paragraph-2-size);
  line-height: 24px;
  text-transform: capitalize;
  font-family: var(--paragraph-2);
  color: var(--text);
  text-align: right;
}
.frame-hallifax-parent,
.link33 {
  display: flex;
  align-items: flex-start;
}
.link33 {
  cursor: pointer;
  border: 1px solid var(--text-secondary);
  padding: var(--padding-5xs) var(--padding-2xl) var(--padding-5xs)
    var(--padding-5xl);
  background-color: transparent;
  border-radius: var(--br-81xl);
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
}
.link33:hover,
.link34:hover,
.link35:hover,
.link36:hover,
.link37:hover {
  background-color: var(--color-lightslategray-200);
  border: 1px solid var(--color-lightslategray-100);
  box-sizing: border-box;
}
.frame-hallifax-parent {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color1);
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: 40px 0;
  min-width: 284px;
  max-width: 100%;
}
.british-columbia15 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 42px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
}
.career-1-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.senior-staff-accountant1 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
}
.text-frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 16px;
}
.career-1-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.truck-driver1 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
}
.text-frame,
.text-frame2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 16px;
}
.text-frame {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px 0;
  font-size: var(--paragraph-1-size);
  font-family: var(--paragraph-2);
}
.current-opportunities-frame {
  gap: 24px 0;
}
.current-opportunities-frame,
.light-f-a-q-frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.apply-now1 {
  position: relative;
  font-size: var(--paragraph-2-size);
  line-height: 24px;
  text-transform: capitalize;
  font-family: var(--paragraph-2);
  color: var(--text);
  text-align: right;
}
.light-f-a-q-frame-parent,
.link34 {
  display: flex;
  align-items: flex-start;
}
.link34 {
  cursor: pointer;
  border: 1px solid var(--text-secondary);
  padding: var(--padding-5xs) var(--padding-2xl) var(--padding-5xs)
    var(--padding-5xl);
  background-color: transparent;
  border-radius: var(--br-81xl);
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
}
.light-f-a-q-frame-parent {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--stroke);
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: 40px 0;
  min-width: 284px;
  max-width: 100%;
}
.british-columbia16 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 42px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
}
.career-1-icon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.senior-staff-accountant2 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
}
.career-1-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 16px;
}
.career-1-icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.truck-driver2 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 189px;
}
.career-1-group {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 16px;
}
.frame-parent54 {
  gap: 16px 0;
  font-size: var(--paragraph-1-size);
  font-family: var(--paragraph-2);
}
.frame-parent54,
.prospective-support,
.request-quote17 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.request-quote17 {
  gap: 24px 0;
}
.prospective-support {
  min-height: 138px;
}
.apply-now2 {
  position: relative;
  font-size: var(--paragraph-2-size);
  line-height: 24px;
  text-transform: capitalize;
  font-family: var(--paragraph-2);
  color: var(--text);
  text-align: right;
}
.link35 {
  cursor: pointer;
  border: 1px solid var(--text-secondary);
  padding: var(--padding-5xs) var(--padding-xl) var(--padding-5xs)
    var(--padding-5xl);
  background-color: transparent;
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.frame-calgary,
.prospective-support-parent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.prospective-support-parent {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color1);
  flex-direction: column;
  padding: var(--padding-5xl);
  gap: 40px 0;
  min-width: 284px;
}
.frame-calgary {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 0 16px;
}
.british-columbia17 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 42px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
}
.career-1-icon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.senior-staff-accountant3 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
}
.career-1-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 16px;
}
.career-1-icon7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.truck-driver3 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
}
.career-1-parent1,
.frame-parent56 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 16px;
}
.frame-parent56 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px 0;
  font-size: var(--paragraph-1-size);
  font-family: var(--paragraph-2);
}
.british-columbia-parent1 {
  gap: 24px 0;
}
.british-columbia-parent1,
.frame-wrapper16 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.apply-now3 {
  position: relative;
  font-size: var(--paragraph-2-size);
  line-height: 24px;
  text-transform: capitalize;
  font-family: var(--paragraph-2);
  color: var(--text);
  text-align: right;
}
.frame-parent55,
.link36 {
  display: flex;
  align-items: flex-start;
}
.link36 {
  cursor: pointer;
  border: 1px solid var(--text-secondary);
  padding: var(--padding-5xs) var(--padding-2xl) var(--padding-5xs)
    var(--padding-5xl);
  background-color: transparent;
  border-radius: var(--br-81xl);
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
}
.frame-parent55 {
  width: 379px;
  border-radius: var(--br-3xs);
  background-color: var(--stroke);
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: 40px 0;
  max-width: 100%;
}
.british-columbia18 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 42px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
}
.career-1-icon8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.senior-staff-accountant4 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
}
.career-1-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 16px;
}
.career-1-icon9 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.truck-driver4 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
}
.career-1-parent3,
.frame-parent58 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 16px;
}
.frame-parent58 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px 0;
  font-size: var(--paragraph-1-size);
  font-family: var(--paragraph-2);
}
.british-columbia-parent2 {
  gap: 24px 0;
}
.british-columbia-parent2,
.frame-wrapper17 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.apply-now4 {
  position: relative;
  font-size: var(--paragraph-2-size);
  line-height: 24px;
  text-transform: capitalize;
  font-family: var(--paragraph-2);
  color: var(--text);
  text-align: right;
}
.frame-parent57,
.link37 {
  display: flex;
  align-items: flex-start;
}
.link37 {
  cursor: pointer;
  border: 1px solid var(--text-secondary);
  padding: var(--padding-5xs) var(--padding-2xl) var(--padding-5xs)
    var(--padding-5xl);
  background-color: transparent;
  border-radius: var(--br-81xl);
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
}
.frame-parent57 {
  width: 380px;
  border-radius: var(--br-3xs);
  background-color: var(--color1);
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: 40px 0;
  max-width: 100%;
}
.frame-calgary1,
.graphic-representation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-calgary1 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 16px;
}
.graphic-representation {
  width: 1170px;
  flex-direction: column;
  gap: 16px 0;
  text-align: left;
  font-size: var(--h5-size);
}
.want-to-hear {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 69px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
}
.want-to-learn-more {
  width: 770px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.send-mail-to {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
}
.lightfaq-41,
.link38,
.want-to-learn-more-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.link38 {
  border-radius: var(--br-81xl);
  background-color: var(--color);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-13xl);
  box-sizing: border-box;
  white-space: nowrap;
  text-align: right;
  font-size: var(--paragraph-1-size);
  color: var(--white);
  font-family: var(--paragraph-2);
}
.lightfaq-41,
.want-to-learn-more-parent {
  flex-direction: column;
  align-items: center;
}
.want-to-learn-more-parent {
  width: 1170px;
  gap: 40px 0;
  font-size: var(--h2-size);
}
.lightfaq-41 {
  align-self: stretch;
  background-color: var(--white);
  overflow: hidden;
  padding: var(--padding-131xl) var(--padding-xl);
  box-sizing: border-box;
  gap: 80px 0;
  text-align: center;
  font-size: var(--h3-size);
  color: var(--text);
  font-family: var(--h5);
}
.our-trusted-experienced9,
.professional-support-for9 {
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
}
.professional-support-for9 {
  margin: 0;
  font-size: inherit;
  line-height: 62px;
  font-weight: 400;
  font-family: inherit;
}
.our-trusted-experienced9 {
  font-size: var(--paragraph-1-size);
  letter-spacing: -0.01em;
  line-height: 28px;
  font-family: var(--paragraph-2);
  color: var(--text-3);
}
.professional-support-for-your-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px 0;
}
.request-quote18 {
  position: relative;
  font-size: var(--paragraph-1-size);
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
  font-family: var(--paragraph-2);
  color: var(--white);
  text-align: right;
}
.frame-parent59,
.link39 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link39 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-9xl) var(--padding-xs)
    var(--padding-13xl);
  background-color: var(--color);
  border-radius: var(--br-81xl);
  flex-direction: row;
  white-space: nowrap;
}
.link39:hover {
  background-color: var(--color-darkcyan-100);
}
.frame-parent59 {
  flex: 1;
  flex-direction: column;
  gap: 40px 0;
  min-width: 354px;
  max-width: 100%;
}
.get-in-touch13,
.infoascentiacpagmailcom9 {
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
}
.infoascentiacpagmailcom9 {
  margin: 0;
  font-size: var(--h5-size);
  letter-spacing: -1px;
  line-height: 42px;
  font-weight: 400;
  font-family: var(--h5);
  color: var(--text-3);
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
}
.get-in-touch-with-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-11xs) 0;
  box-sizing: border-box;
  gap: 8px 0;
  max-width: 100%;
}
.div61,
.make-a-call11 {
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
}
.div61 {
  font-size: var(--h5-size);
  letter-spacing: -1px;
  line-height: 42px;
  font-family: var(--h5);
  color: var(--text-3);
}
.make-a-call-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-11xs) 0;
  gap: 8px 0;
}
.erie-street-south-unit-frame,
.frame-parent60 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent60 {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 40px 0;
  min-width: 354px;
  font-size: var(--paragraph-2-size);
  font-family: var(--paragraph-2);
}
.erie-street-south-unit-frame {
  width: 1170px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0 80px;
  font-family: var(--h5);
}
.support-rectangle2 {
  width: 1170px;
  height: 1px;
  position: relative;
  background-color: var(--color-gray-100);
  max-width: 100%;
}
.quebec10 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
}
.quebec-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div62,
.erie-street-south50 {
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
}
.erie-street-south50 {
  align-self: stretch;
}
.div62 {
  white-space: nowrap;
}
.erie-street-south-unit-2leam-parent37,
.frame-parent62 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.erie-street-south-unit-2leam-parent37 {
  align-self: stretch;
  gap: 8px 0;
  font-size: var(--paragraph-2-size);
  color: var(--text-3);
}
.frame-parent62 {
  width: 170px;
  gap: 16px 0;
}
.british-columbia19 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
}
.british-columbia-wrapper7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div63,
.erie-street-south51 {
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
}
.erie-street-south51 {
  align-self: stretch;
}
.div63 {
  white-space: nowrap;
}
.erie-street-south-unit-2leam-parent38,
.frame-parent63 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.erie-street-south-unit-2leam-parent38 {
  align-self: stretch;
  gap: 8px 0;
  font-size: var(--paragraph-2-size);
  color: var(--text-3);
}
.frame-parent63 {
  width: 170px;
  gap: 16px 0;
}
.toronto9 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
}
.toronto-wrapper7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div64,
.erie-street-south52 {
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
}
.erie-street-south52 {
  align-self: stretch;
}
.div64 {
  white-space: nowrap;
}
.erie-street-south-unit-2leam-parent39,
.frame-parent64 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.erie-street-south-unit-2leam-parent39 {
  align-self: stretch;
  gap: 8px 0;
  font-size: var(--paragraph-2-size);
  color: var(--text-3);
}
.frame-parent64 {
  width: 170px;
  gap: 16px 0;
}
.calgary9 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
}
.calgary-wrapper7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div65,
.erie-street-south53 {
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
}
.erie-street-south53 {
  align-self: stretch;
}
.div65 {
  white-space: nowrap;
}
.erie-street-south-unit-2leam-parent40,
.frame-parent65 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.erie-street-south-unit-2leam-parent40 {
  align-self: stretch;
  gap: 8px 0;
  font-size: var(--paragraph-2-size);
  color: var(--text-3);
}
.frame-parent65 {
  width: 170px;
  gap: 16px 0;
}
.hallifax9 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
  text-transform: capitalize;
}
.hallifax-wrapper7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div66,
.erie-street-south54 {
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
}
.erie-street-south54 {
  align-self: stretch;
}
.div66 {
  white-space: nowrap;
}
.erie-street-south-unit-2leam-parent41 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px 0;
  font-size: var(--paragraph-2-size);
  color: var(--text-3);
}
.frame-parent61,
.frame-parent66 {
  display: flex;
  align-items: flex-start;
}
.frame-parent66 {
  width: 170px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px 0;
}
.frame-parent61 {
  width: 1170px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--paragraph-1-size);
  color: var(--color);
}
.support-rectangle3 {
  width: 1170px;
  height: 1px;
  position: relative;
  background-color: var(--color-gray-100);
  max-width: 100%;
}
.frame-icon13 {
  align-self: stretch;
  height: 46px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper18 {
  width: 198px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ascetiacpa-2023-all9 {
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
}
.facebook-icon9,
.instagram-icon9,
.linkedin-icon9 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.facebook-parent1,
.frame-parent68 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 16px;
}
.frame-parent68 {
  width: 374px;
  flex-direction: column;
  justify-content: center;
  gap: 16px 0;
  max-width: 100%;
}
.about10,
.blog12,
.career10,
.services22 {
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
}
.about-group {
  width: 123.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px 0;
}
.faq9,
.privacy-policy10,
.terms-contions9 {
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
}
.privacy-policy-container {
  height: 144px;
  width: 158.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px 0;
}
.enter-email-address10,
.subscribe-to-get9 {
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
}
.enter-email-address10 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--paragraph-2);
  font-size: var(--paragraph-2-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  color: var(--text-secondary);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 107px;
}
.divplaceholder9 {
  flex: 1;
  border-radius: var(--br-981xl);
  border: 1px solid var(--text);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-mini);
  min-width: 136px;
}
.subscribe10 {
  position: relative;
  font-size: var(--paragraph-2-size);
  line-height: 24px;
  text-transform: capitalize;
  font-family: var(--paragraph-2);
  color: var(--white);
  text-align: right;
}
.divplaceholder-container,
.link40 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.link40 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--text);
  border-radius: var(--br-81xl);
  align-items: flex-start;
}
.link40:hover {
  background-color: var(--color-slategray-100);
}
.divplaceholder-container {
  align-self: stretch;
  align-items: center;
  gap: 0 16px;
}
.subscribe-to-get-latest-update-parent1 {
  width: 333px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px 0;
  min-width: 216px;
  min-height: 144px;
  max-width: 100%;
  text-align: left;
  color: var(--white);
}
.erie-street-south-unit-frame-parent,
.frame-parent67 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent67 {
  width: 1170px;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 0 60px;
  text-align: center;
  font-size: var(--paragraph-2-size);
  color: var(--text-3);
}
.erie-street-south-unit-frame-parent {
  align-self: stretch;
  background-color: var(--bg);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-81xl) var(--padding-41xl) var(--padding-41xl);
  gap: 40px 0;
  z-index: 1;
  margin-top: -1px;
  text-align: left;
  font-size: var(--h3-size);
  color: var(--white);
  font-family: var(--paragraph-2);
}
.career9,
.light-f-a-q-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.light-f-a-q-frame {
  align-self: stretch;
  max-width: 100%;
}
.career9 {
  width: 100%;
  position: relative;
  background-color: var(--white);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--h1-size);
  color: var(--white);
  font-family: var(--h5);
}
@media screen and (max-width: 1200px) {
  .lightfaq-41 {
    padding-top: var(--padding-78xl);
    padding-bottom: var(--padding-78xl);
    box-sizing: border-box;
  }
  .erie-street-south-unit-frame {
    gap: 0 80px;
  }
  .frame-parent67 {
    gap: 0 60px;
  }
  .erie-street-south-unit-frame-parent {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .frame-instance {
    display: none;
  }
  .frame-industries-services {
    width: 0;
  }
  .interested-in-joining {
    font-size: var(--font-size-26xl);
    line-height: 55px;
  }
  .current-opportunities {
    font-size: var(--font-size-23xl);
    line-height: 50px;
  }
  .british-columbia14,
  .british-columbia15,
  .british-columbia16,
  .british-columbia17,
  .british-columbia18 {
    font-size: var(--font-size-6xl);
    line-height: 34px;
  }
  .frame-calgary1 {
    justify-content: center;
  }
  .want-to-hear {
    font-size: var(--font-size-36xl);
    line-height: 55px;
  }
  .professional-support-for9 {
    font-size: var(--font-size-23xl);
    line-height: 50px;
  }
  .div61,
  .infoascentiacpagmailcom9 {
    font-size: var(--font-size-6xl);
    line-height: 34px;
  }
  .frame-parent61 {
    flex-wrap: wrap;
  }
  .subscribe-to-get-latest-update-parent1 {
    min-height: auto;
  }
  .frame-parent67 {
    flex-wrap: wrap;
  }
  .erie-street-south-unit-frame-parent {
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frame-industries-services-parent {
    gap: 0 94px;
  }
  .lightfaq-41,
  .text-interested {
    padding-top: var(--padding-42xl);
    padding-bottom: var(--padding-43xl);
    box-sizing: border-box;
  }
  .lightfaq-41 {
    gap: 80px 0;
    padding-top: var(--padding-44xl);
    padding-bottom: var(--padding-44xl);
  }
  .frame-parent59,
  .frame-parent60 {
    gap: 40px 0;
    min-width: 100%;
  }
  .erie-street-south-unit-frame {
    gap: 0 80px;
  }
  .erie-street-south-unit-frame-parent {
    gap: 40px 0;
  }
}
@media screen and (max-width: 450px) {
  .about-us-parent8 {
    display: none;
  }
  .frame-industries-services1 {
    width: 0;
  }
  .frame-industries-services-parent {
    gap: 0 94px;
  }
  .interested-in-joining {
    font-size: var(--font-size-8xl);
    line-height: 36px;
  }
  .current-opportunities {
    font-size: var(--font-size-13xl);
    line-height: 37px;
  }
  .british-columbia14 {
    font-size: var(--font-size-lgi);
    line-height: 25px;
  }
  .frame-hallifax-parent {
    gap: 40px 0;
  }
  .british-columbia15 {
    font-size: var(--font-size-lgi);
    line-height: 25px;
  }
  .light-f-a-q-frame-parent {
    gap: 40px 0;
  }
  .british-columbia16 {
    font-size: var(--font-size-lgi);
    line-height: 25px;
  }
  .career-1-group {
    flex-wrap: wrap;
  }
  .prospective-support-parent {
    gap: 40px 0;
  }
  .british-columbia17 {
    font-size: var(--font-size-lgi);
    line-height: 25px;
  }
  .frame-parent55 {
    gap: 40px 0;
  }
  .british-columbia18 {
    font-size: var(--font-size-lgi);
    line-height: 25px;
  }
  .frame-parent57 {
    gap: 40px 0;
  }
  .want-to-hear {
    font-size: var(--font-size-22xl);
    line-height: 41px;
  }
  .want-to-learn-more-parent {
    gap: 40px 0;
  }
  .lightfaq-41 {
    gap: 80px 0;
  }
  .professional-support-for9 {
    font-size: var(--font-size-13xl);
    line-height: 37px;
  }
  .div61,
  .infoascentiacpagmailcom9 {
    font-size: var(--font-size-lgi);
    line-height: 25px;
  }
  .divplaceholder-container {
    flex-wrap: wrap;
  }
  .erie-street-south-unit-frame-parent {
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
}
